.aha {
    margin: 10px;
    display: block;
    background-color: #111;
}
.aha h3 {
    text-align: center;
    margin: 10px;
    color: red;
    font-size: 33px;

}
.aha a {
    margin: 10px;
    font-size: 23px;
    color: #fef0f0;
}

#connectUportBtn {
    cursor: pointer;
    border: none;
    font-size: 22px;
    s: 100;
    color: #fff;
    padding: 25px 60px;
    border-radius: 4px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.5);
}

.* {
    font-family: Nunito,sans-serif;
    font-weight: 200;
}


.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}

html {
    background: #43cea2;
    background: linear-gradient(30deg, #43cea2, #185a9d);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
    overflow: hidden;
}

body{
    background-color: transparent;
}

#main_title{
    padding: 60px; 
    text-align: center; 
    color: white;
    font-size: 50px;
}

form{
    font-size:22px;
}

